.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  color: var(--font-color-secondary);
  font: var(--font-body);
  border-radius: 12px;
}

.search-bar input {
  border: none;
  padding-left: 8px;
  color: var(--font-color-primary);
  font: inherit;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border: none;
  cursor: pointer;
  size: 12px;
}

.search-bar button:disabled {
  display: none;
  cursor: not-allowed;
}

.search-bar button:hover {
  background-color: var(--color-tertiary);
  border-radius: 10%;
}

input::placeholder {
  color: var(--font-color-secondary);
}
