@import '../../../styles/variables.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  font-size: var(--font-size-s);
  line-height: var(--font-line-m);
  letter-spacing: 0.02em;
}

.variant-primary {
  background-color: var(--color-accent-light);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-accent-lighten);
    color: var(--color-primary);
  }

  &:active,
  &.pressed {
    background-color: var(--color-accent-light);
    color: var(--color-quartary);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-quintary);
    color: var(--color-secondary);
  }
}

.variant-secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-accent);

  &:hover {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-accent-lighten);
  }

  &:active,
  &.pressed {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-accent);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: transparent;
    color: var(--color-tertiary);
    border: 1px solid var(--color-quintary);
  }
}

.size-sm {
  padding: 6px 12px;
  font-size: var(--font-size-xs);
  line-height: var(--font-line-s);
}

.size-md {
  padding: 8px 16px;
  font-size: var(--font-size-s);
  line-height: var(--font-line-m);
}

.size-lg {
  padding: 12px 24px;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}
