@import '../../../styles/variables.scss';

.wrapper {
  width: 100%;
  margin: 16px 0;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  font-size: var(--font-size-s);
  color: var(--color-primary);
  line-height: var(--font-line-m);
  letter-spacing: 0.02em;
  text-align: left;
}

.input {
  flex: 1;
  outline: none;
  padding: 12px 20px;
  height: 100%;

  &::placeholder {
    color: var(--color-tertiary);
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  transition: all 0.2s ease;
  border: 1px solid var(--color-secondary);
  background: transparent;

  &.error {
    border-color: var(--color-error);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

.errorMessage {
  color: var(--color-error);
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  font-size: var(--font-size-xs);
  line-height: var(--font-line-s);
  letter-spacing: 0.02em;
  margin-top: 4px;
}
