.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 324px;
  min-height: 368px;
  padding: 20px;
  background: var(--color-quartary);
  border: none;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  font: var(--font-body);
  row-gap: 20px;
  box-sizing: border-box;
  color: var(--font-color-primary);
}

.card-button {
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 10px;
  align-self: flex-start;
}

.card-avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
  justify-content: center;
}

.card-username {
  font: var(--font-h3);
  margin: 0;
}

.card-user-meta {
  font: var(--font-caption);
  margin: 0;
}

.card-like {
  position: absolute;
  inset: 20px 20px auto auto;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-self: flex-start;
}

.card-description {
  font: var(--font-body);
  margin: 0;
}

.card-point {
  font: var(--font-h4);
  margin: 0;
}

.card-teach {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
}

.card-skills {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  flex-direction: row;
}
