.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  gap: 32px;
  font: var(--font-body);
}

.logoBlock {
  display: flex;
  align-items: center;
  padding: 40px 0 24px 36px;
  gap: 12px;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 24px;
  padding: 48px 0 32px;
}

.link {
  display: flex;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.arrowIconWrapper {
  padding-left: 4px;
}

.search {
  width: 527px;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  gap: 20px;
  padding: 48px 0 32px;
}

.buttons {
  display: flex;
  gap: 12px;
  padding: 48px 0 32px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 36px 0 20px;
  cursor: pointer;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
