@font-face {
  font-family: Jost;
  src: url('./Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 500 600;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('./Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 500 600;
  font-display: swap;
}
