.label {
    display: block;
    margin-bottom: 4px;
    font-family: var(--font-family-main);
    font-weight: var(--font-regular);
    font-size: var(--font-size-s);
    color: var(--color-primary);
    line-height: var(--font-line-m);
    letter-spacing: 0.02em;
    text-align: left;
}

