@import '../../styles/variables.scss';

.autocomplete {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.autocompleteInput {
  input {
    border: 1px solid var(--color-quartary);
    border-radius: 8px;
    outline: none;
    padding: 12px;
    font-size: var(--font-caption);

    &::placeholder {
      color: var(--color-secondary);
    }

    &:focus {
      outline: none;
      border-color: var(--color-quartary);
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid var(--color-quartary);
  border-radius: 8px;
  z-index: 10;
  overflow-y: auto;
  margin-top: 4px;
}

.optionItem {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--color-quintary);
  }
}

.optionItemSelected {
  color: var(--color-accent);
  background-color: var(--color-quintary);
}

.noOptions {
  padding: 16px;
  color: var(--color-accent);
  text-align: center;
  font-size: 14px;
}
