.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }

}

.search {
  border: 1px solid black;
}