@import '../../../styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.collapsibleButton {
  text-align: center;
  width: 100%;
  color: var(--color-accent);
  font-size: var(--font-body);
}

.icon {
  width: 24px;
}
